<section class="section">
	<div class="container">
	    <div class="column">
	    	<div class="column">
					<div class="box message_text">

						<%= render 'form', message: @message %>
						<%= link_to 'Show', @message %> |
						<%= link_to 'Back', messages_path %>

					</div>
			</div>
		</div>
	</div>
</section>
