<section class="section">
	<div class="container">
	    <div class="column">
	    	<div class="column">
				<div class="box">
					<p class="message_subdate">
					  <%= @message.getMessageSubDate.to_date %>
					  :
					</p>

					<p class="message_text">
					  <%= auto_link(@message.message) %>
					</p>
					<%= link_to 'Edit', edit_message_path(@message) %> |
					<%= link_to 'Back', messages_path %>

				</div>
			</div>
		</div>
	</div>
</section>


